<div class='row'>
    <div class='col-10 offset-1 m-t-4-p'>
        <h2>Employee List</h2>
        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr class="table-info">
                    <th> Employee id </th>
                    <th> Employee FirstName</th>
                    <th> Employee LastName</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeList">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <div class="col-4">
                        <button mat-stroked-button class="btn btn-primary"
                            (click)="ViewEmployeeDetails(employee.id)">Details</button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>